# Copy this file to a new file named .env
# The .env file stays on your computer, never submitted or uploaded.
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Sabeen@2005
DB_NAME=expense_tracker
